.contents_title_xsmall { font-size: 18px; font-style: normal; font-weight: 600; line-height: normal; letter-spacing: -1px; color: #959595; }
.contents_title_small { font-size: 26px; font-style: normal; font-weight: 500;line-height: 100%; letter-spacing: -2px; color: #959595; }

.contents_title_medium_en { 
    font-family: "Geologica", sans-serif; font-size: 74px;font-style: normal; font-weight: 500; line-height: normal; letter-spacing: -3px; color: #959595;
}

.contents_title_large_en { 
    font-family: "Geologica", sans-serif; font-size: 80px; font-style: normal; font-weight: 700; line-height: 130%; letter-spacing: -2px;color: #FFF; 
}

.contents_title_xlarge { font-size: 90px; font-style: normal; font-weight: 800;line-height: 100%; letter-spacing: -2px; color: #fff; }

.contents_title_xxlarge {
    color:#FFF; font-family: "Geologica", sans-serif; font-size: 100px; font-style: normal; font-weight: 500; line-height: normal; letter-spacing: -4px;
}

.contents_article_small { font-size: 16px; font-style: normal; font-weight: 500; line-height: normal; letter-spacing: -1px; }
.contents_article_medium { font-size: 20px; font-style: normal; font-weight: 400; line-height: normal; letter-spacing: -1.5px; color: #959595; }
.contents_article_large { font-size: 24px; font-style: normal; font-weight: 500;line-height: 160%; letter-spacing: -1px; }



.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 210px;
    padding: 15px 0;
    border-radius: 60px;
    background: #000;
    color: #FFF;
    font-family: "Geologica", sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -1px;
    transition: .3s;
  }

  .btn:hover {
    background: #FFF;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
  }