.main_img { overflow: hidden; width: 100%; height: 1080px; position: relative; background: url('../images/main_img.jpg') no-repeat center center / cover; }

header { width: 100%; height: 108px; position: absolute; padding: 0 48px; box-sizing: border-box;}

.logo { width: 110px;height: 153px; display: flex;  align-items: center; position: absolute; left: 48px; bottom: -45px; }

.gnb { position: absolute; top: 0; left: 246px; }
.gnb ul { display: flex; flex-wrap: wrap; }
.gnb ul li { height: 108px; line-height: 108px; }
.gnb ul li a { display: block; padding: 0 40px; font-family: "Roboto Condensed", sans-serif; font-size: 20px; font-weight: 700; letter-spacing: -1px; color: #fff; transition: .3s; }
.gnb ul li a:hover { color: #000; }

.header_search { position: absolute; top: 32px; right: 213px;cursor: pointer;}

.header_right_gnb { position: absolute; top: 44px; right: 48px;}
.header_right_gnb ul { display: flex; flex-wrap: wrap; gap: 26px;}
.header_right_gnb ul li a { display: block; font-family: "Roboto Condensed", sans-serif; font-size: 16px; font-weight: 500; color: #fff; transition: .3s; }
.header_right_gnb ul li a:hover { color:#000; }

/*
.main_title_wrap { 
    display: flex; width: 100%; height: 422px; flex-direction: column;
    position: absolute; bottom: -4.8%;
}
*/

/*
.main_img_title_large { 
    color: #FFF; text-align: center; font-size: 2.7vw; 
    font-family: "swiss-721-bt-condensed", sans-serif; font-style: italic;
    line-height: 1; letter-spacing: -2px; 
    position: absolute; bottom: 29%; width: 100%; text-align: center;
}
*/

.main_img_title_xlarge { 
    color: #D7FA29; text-align: center; font-family: "Swis721 BlkEx BT"; font-size: 20vw;
    font-style: normal; font-weight: 400; line-height: 43%; letter-spacing: -26px;
    position: absolute; bottom: 4.4%; width: 100%; text-align: center;
}
.main_img_title_xlarge span { 
    color: #FFF;
    text-align: center;
    font-family: "Swiss 721 Black Condensed";
    font-size: 48px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -2px;}

.values { display: flex; flex-wrap: wrap; width: 95%; flex-direction: column; align-items: center; gap: 72px; margin: 230px auto;}

.contents_title_wrap { width: 100%; }
.contents_title_wrap .title_xxlarge_en { margin-top: 18px; }
.contents_title_wrap .article_medium { margin-top: 20px; }


.contents_title { display: flex; width: 447px; flex-direction: column; align-items: flex-start; gap: 18px; }

.value_contents { display: flex; align-items: center; gap: 1px; align-self: stretch;}

.value_box {
    width: calc((100% - 3px) / 4); height: 408px; position: relative; transition: .3s; 
    display: flex; flex-direction: column; justify-content: center; align-items: center;
}
.value_box:first-child { background: url(../images/courage_value_box.png) no-repeat center center / cover; }
.value_box:nth-child(2) { background: url(../images/intergrity_value_box.png) no-repeat center center / cover; }
.value_box:nth-child(3) { background: url(../images/respect_value_box.png) no-repeat center center / cover; }
.value_box:last-child { background: url(../images/coraboration_value_box.png) no-repeat center center / cover; }

.value_box_title_wrap { 
    width: 100%; height: 100%; text-align: center; transition: .3s; 
    position: absolute; top: 0; left: 0; background: transparent;
    display: flex; flex-wrap: wrap; flex-direction: column; justify-content: center; align-content: center;
}
.value_box_title_wrap:hover { background: rgba(193,218,67,0.4); }

.value_box_title_wrap .title_medium { font-size: 1.2vw; }
.value_box_title_wrap .title_xlarge_en { font-size: 1.6vw; }




.slogan { display: flex; width: 95%; flex-direction: column; align-items: flex-start; margin: 230px auto; }


.slogan_title_wrap { display: flex; padding: 40px 0px; flex-direction: column; align-items: flex-start; gap: 22px; align-self: stretch; transition: .3s; }

/*
.slogan_title_xlarge { font-family: "Swis721 BlkEx BT"; font-size: 130px; font-style: normal; font-weight: 400; line-height: 130px;
    letter-spacing: -4px; color: #FFF; }
.slogan_article_medium { color: #FFF; font-family: pretendard; font-size: 24px; font-style: normal; font-weight: 600; line-height: 24px; letter-spacing: -1px; }
*/

.slogan_title_xlarge { font-family: "Swis721 BlkEx BT"; font-size: 6.3vw; color: #FFF; line-height: 100%; }
.slogan_article_medium { font-size: 1.2vw; font-weight: 700; letter-spacing: -0.1rem; color: #FFF; }

.slogan_title_wrap:hover { width: 100%; padding-left: 40px; color:#000; background: #FFFC01; }
.slogan_title_wrap:hover .slogan_title_xlarge { color: #000; }
.slogan_title_wrap:hover .slogan_article_medium { color:#000; }


.slogan_title_wrap .solgan_title_xlarge { font-size: 6.3vw; line-height: 100%; padding-bottom: 0.9%; }
.slogan_title_wrap .slogan_article_medium { font-size: 1.2vw; }

.campaign { display: flex; width: 100%; flex-direction: column; align-items: flex-start; gap: 72px; margin: 230px auto; }
.campaign .contents_title_wrap { width: 95%; margin: 0 auto; }


.campaign_contents { 
    display: grid; height: 732px; gap: 1px; align-self: stretch; display: flex; flex-wrap: wrap;
}

.campaign_box { 
    width: calc((100% - 3px) / 4); height: 732px; position: relative; transition: .3s;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
}




.campaign_box:first-child { background: url(../images/protect.png) no-repeat center center / cover; }
.campaign_box:nth-child(2) { background: url(../images/climate.png) no-repeat center center / cover; }
.campaign_box:nth-child(3) { background: url(../images/gorae.png) no-repeat center center / cover; }
.campaign_box:last-child { background: url(../images/food.png) no-repeat center center / cover; }

.campaign_box_title_wrap { 
    position: absolute; bottom:0; left: 0; background: transparent;
    padding: 46px; box-sizing: border-box; transition: .3s; 
    display: flex; flex-wrap: wrap; 
    flex-direction: column; justify-content: flex-end; align-items: flex-start; gap:16px;
}

    
.action_wrap { display: flex; width: 95%; flex-direction: column; align-items: flex-end; gap: 302px; margin: 230px auto;}

.action_wrap .action:first-child { display: flex; height: 732px; align-items: flex-start; justify-content: space-between; align-self: stretch; }
.action_wrap .action:first-child .contents_box { 
    display: flex; width: 1063px; height: 732px; justify-content: center; align-items: top; 
    background: url(../images/action_contents_box_bg_1.png) no-repeat center center / cover; 
}
.action_wrap .action:first-child .contents_box .title_xxxlarge_en { margin-top: -78px; margin-left: -123px; }
.action_wrap .action:first-child .contents_box_title_right { display: flex; height: 732px; flex-direction: column; align-items: flex-end; text-align: right;}
.btn { margin-top: 110px;}


.action_wrap .action:last-child { display: flex; align-items: flex-start; justify-content: space-between; align-self: stretch; }
.action_wrap .action:last-child .contents_box { 
    display: flex; width: 912px; height: 988px; justify-content: center; 
    align-items: top; background: url(../images/action_contents_box_bg_2.png) no-repeat center center / cover;
}
.action_wrap .action:last-child .contents_box .title_xxxlarge_en { text-align: right; margin-top: -78px; margin-right: -118px;}
.action_wrap .action:last-child .contents_box_title_left { display: flex; width: 658px; flex-direction: column; align-items: flex-start;}
.btn { margin-top: 110px;}

.conservation { 
    width: 100%; position: relative; margin: 230px auto; 
    display: flex; flex-direction: column; align-items: center; gap: 72px; 
}
.conservation .contents_title_wrap { width: 95%;}
/* .conservation .conservation_contents { display: flex; justify-content: center; align-items: center; align-self: stretch; } */


.conservation_box_bg_01, .conservation_box_bg_02, .conservation_box_bg_03 { gap:34px;
    display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-start; height: 800px; padding: 72px; box-sizing: border-box;
}

.conservation_box_bg_01 { background: url('../images/conservation_box_bg_1.png') no-repeat 50% 50% / cover; }
.conservation_box_bg_02 { background: url('../images/conservation_box_bg_2.png') no-repeat 50% 50% / cover; }
.conservation_box_bg_03 { background: url('../images/conservation_box_bg_3.png') no-repeat 50% 50% / cover; }


.owl-theme .owl-dots { width: 14%; height: 2px; margin-top: 30px; text-align: center; background: #fff; margin: 0 auto;}
.owl-theme .owl-dots .owl-dot span { 
    width: 150px; height: 2px; margin: 0; border-radius: 0; background: #f0f0f0; 
}

.owl-nav {
    position: absolute; top: -115px; right: 2.5%; z-index: 999;
    display: flex; flex-wrap: wrap; gap: 10px; 
}
.owl-theme .owl-nav { margin-top: 0; }
.owl-theme .owl-nav [class*=owl-] { margin: 0; }
.owl-theme .owl-nav [class*=owl-]:hover { background: none; }

.conservation_contents .prev-slide {
    width: 42px; height: 42px;
    background: url('../images/btn_arrow_left.png') no-repeat;
}

.conservation_contents .next-slide {
    width: 42px; height: 42px;
    background: url('../images/btn_arrow_right.png') no-repeat;
}

/*전체길이*/
.owl-theme .owl-dots { width: 723px; height: 4px; margin-top: 98px; text-align: left; background: #F0F0F0; }

/*각 하나 길이*/
.owl-theme .owl-dots .owl-dot span {
    width: 241px; height: 4px; margin: 0; border-radius: 0; background: #F0F0F0;
}
.owl-theme .owl-dots .owl-dot.active span { background: red; }
.owl-theme .owl-dots .owl-dot:hover span { background: red; }





.magazine { 
    margin:230px auto;
    width: 95%; padding: 80px 38px; box-sizing: border-box;
    display: flex;  justify-content: flex-end; align-items: center; gap: 10px; 
    background: url(../images/magazine_bg.png) no-repeat center center / cover ; 
}

.magazine .magazine_contents { 
    display: flex; width: 630px; height: 1056px; padding: 92px 46px 78px 46px; flex-direction: column;
    justify-content: space-between; align-items: flex-start; flex-shrink: 0; 
    background: rgba(255, 255, 255, 0.20); backdrop-filter: blur(15px);
}

.magazine .magazine_contents .contents_title_box { 
    display: flex; flex-direction: column; gap: 50px; align-self: stretch;
 }

.btn { display: flex; width: 220px; height: 60px; justify-content: center; align-items: center; flex-shrink: 0;}

footer { display: flex; width: 95%; flex-direction: column; align-items: flex-start; gap: 106px; margin: 230px auto; position: relative;}

footer .footer_top { display: flex; justify-content: space-between; align-items: flex-start; align-self: stretch; }
footer .footer_top .footer_nav { display: flex; align-items: flex-start; gap: 116px; }
footer .footer_top .footer_nav ul li { margin-bottom: 10px; }
footer .footer_top .footer_nav ul li:first-child { margin-bottom: 24px;}
footer .footer_top .footer_nav ul li:first-child a { 
font-family: Pretendard; font-size: 18px; font-style: normal; font-weight: 700; line-height: normal; 
letter-spacing: -1px;font-weight: 700; color: #FFF;
}

footer .footer_top .footer_nav ul li a {
    font-family: Pretendard; font-size: 16px; font-style: normal; font-weight: 400; line-height: 16px;
    letter-spacing: -1px; font-weight: 400; color: #808080;  
}

footer .footer_top .contents_box { 
    display: flex; width: 670px; padding: 0px 60px 0px 108px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 50px; 
    box-sizing: border-box; border-left: 1px solid rgba(255, 255, 255, 0.50);
}

footer .footer_top .contents_box .info { display: flex; width: 502px; flex-direction: column; align-items: flex-start; gap: 36px; }
footer .footer_top .contents_box .info .title_small { color: #FFF; font-family: Pretendard; font-size: 18px; font-style: normal; font-weight: 700; line-height: normal; letter-spacing: -1px; }
footer .footer_top .contents_box .info .input_box { display: flex; height: 146px; flex-direction: column; align-items: flex-start; gap: 26px; align-self: stretch; }
footer .footer_top .contents_box .info .input_box .label { display: flex; width: 100%; align-items: center; gap: 22px;  align-self: stretch; }
footer .footer_top .contents_box .info .input_box .label .name_input { display: flex; width: 156px; height: 60px; padding: 10px; align-items: center; border: 1px solid #FFF;box-sizing: border-box;}
footer .footer_top .contents_box .info .input_box .label .email_input { display: flex; width: 100%; height: 60px; padding: 10px; align-items: center; flex: 1; border: 1px solid #FFF;box-sizing: border-box;}

footer .footer_top .contents_box .info .input_box .check { display: flex; align-items: center;  gap: 28px; }
.check input[type="checkbox"] { width: 16px; height: 16px; color: #FFF; cursor: pointer;}

footer .footer_top .contents_box .btn { 
    display: flex; width: 100%; height: 60px; padding: 10px; justify-content: center; align-items: center; gap: 10px; align-self: stretch; 
    border-radius: 4px; background: #FFF;
}

footer .footer_top .contents_box .btn:hover { background: #000; color: #FFF; }


footer .footer_btm { display: flex; width: 1824px; padding: 50px 0px; flex-direction: column; align-items: flex-start; gap: 62px; border-top: 1px solid rgba(255, 255, 255, 0.30);}
footer .footer_btm .footer_info { display: flex; flex-direction: column; align-items: flex-start; gap: 16px; align-self: stretch; }
footer .footer_btm .footer_info .info_top { display: flex; align-items: center; gap: 32px; align-self: stretch; }
footer .footer_btm .footer_info .info_btm { display: flex; align-items: center; gap: 70px; }


footer .sns { display: flex; align-items: center; gap: 44px; position: absolute; right: 0px; bottom: 48px; }
footer .sns .title_small { color: #FFF; font-family: Pretendard; font-size: 18px; font-style: normal; font-weight: 700; line-height: normal; letter-spacing: -1px; }
footer .sns .sns_logo { display: flex; align-items: center; gap: 30px; }























/*
@media screen (max-width:1600px) {
    .main_img_title_xlarge { bottom: %; }
}

@media screen (max-width:1440px) {
    .main_img_title_xlarge { bottom: %; }
}

@media screen (max-width:1280px) {
    .main_img_title_xlarge { bottom: %; }
}

@media screen (max-width:1024px) {
    .main_img_title_xlarge { bottom: %; }
}

@media screen (max-width:768px) {
    .main_img_title_xlarge { bottom: %; }
}

@media screen (max-width:600px) {
    .main_img_title_xlarge { bottom: %; }
}

@media screen (max-width:480px) {
    .main_img_title_xlarge { bottom: %; }
}
*/