/* @import url("https://use.typekit.net/hyv0zme.css"); */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

@font-face { 
    font-family: "Swis721 BlkEx BT";
    font-style: normal;
  
    src: url("../fonts/swiss721blackextendedbt.woff2") format("woff2");
}


.black_text { color: #000; }

.check_box { width: 16px; height: 16px; color: #FFF; }

.btn {
    width: 220px; height: 60px; border: none; border-radius: 100px; text-align: center;
    font-family: Pretendard; font-size: 18px; font-style: normal; font-weight: 700; line-height: 18px; letter-spacing: -1px;
   background: #FFF; color: #000; transition: 0.3s; cursor: pointer; 
  }
  
  .btn:hover { color: #FFF; background: #000;}

.title_medium { 
    color: #FFF; font-family: pretendard; font-size: 24px; font-style: normal; font-weight: 700; 
    line-height: normal; letter-spacing: -1px; 
}

.title_medium_en { color: #FFF; font-family: "Swis721 BlkEx BT"; font-size: 24px; font-style: normal; font-weight: 400;
    line-height: 110%; letter-spacing: -1px; 
}


.title_large {  font-size: 34px; font-style: normal; font-weight: 700; line-height: 110%; letter-spacing: -1px; color: #FFF; }

.title_large_en { color: #FFF;

    font-family: "Swis721 BlkEx BT";
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; 
    letter-spacing: -1px; }

.title_xlarge_en { 
    color: #FFF;
    text-align: center;
    font-family: "Swis721 BlkEx BT";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;
 }

.title_xxlarge_en {
    color: #FFF;
    font-family: "Swis721 BlkEx BT";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -2.5px; 
}

.title_xxxlarge_en { color: #FFF;
    font-family: "Swis721 BlkEx BT";
    font-size: 92px;
    font-style: normal;
    font-weight: 400;
    line-height: 80%;
    letter-spacing: -5.5px; }

.article_xlarge { 
    color: #FFF;
    font-family: Pretendard;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: -2px; }


.article_large { 
    color: #FFF; font-family: Pretendard; font-size: 22px; font-style: normal; font-weight: 600; line-height: 150%; letter-spacing: -1px; 
}


.article_medium { 
    color: #FFF;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
    letter-spacing: -1px;
}

.article_small { color: white; font-size: 16px; font-family: Pretendard; font-weight: 400; line-height: 17.60px; word-wrap: break-word }