@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");


@font-face { 
    font-family: "Swis721 BlkEx BT";
    font-style: normal;
  
    src: url("../fonts/swiss721blackextendedbt.woff2") format("woff2");
}

@font-face {
    font-family: "Swiss 721 BlackCondensed";
    src: url("../fonts/swiss-721-bt-black-condensed-italic.woff2") format("woff2")
}




.black_text { color: #D7FA29; }

.check_box { width: 16px; height: 16px; color: #FFF; }

.btn {
    width: 220px; height: 60px; border: none; border-radius: 100px; text-align: center;
    font-family: 'Pretendard Variable'; font-size: 18px; font-style: normal; font-weight: 700; line-height: 18px; letter-spacing: -1px;
   background: #FFF; color: #000; transition: 0.3s; cursor: pointer; 
  }
  
  .btn:hover { color: #FFF; background: #000;}

.title_medium { 
    color: #FFF; font-size: 24px; font-style: normal; font-weight: 700; 
    line-height: normal; letter-spacing: -1px; 
}

.title_medium_en { color: #FFF; font-family: "Swis721 BlkEx BT"; font-size: 24px; font-style: normal; font-weight: 400;
    line-height: 110%; letter-spacing: -1px; 
}


.title_large {  font-size: 34px; font-style: normal; font-weight: 700; line-height: 110%; letter-spacing: -1px; color: #FFF; }

.title_large_en {
    font-family: "Swis721 BlkEx BT"; font-size: 34px; font-style: normal; font-weight: 400; line-height: 110%; letter-spacing: -1px;  color: #FFF; 
}

.title_xlarge_en { 
    text-align: center; font-family: "Swis721 BlkEx BT"; font-size: 36px; font-style: normal; font-weight: 400; line-height: normal; letter-spacing: -1px; color: #FFF;
 }

.title_xxlarge_en {
    font-family: "Swis721 BlkEx BT"; font-size: 48px; font-style: normal; font-weight: 400; line-height: 130%; letter-spacing: -2.5px; color: #FFF;
}

 .title_xxxlarge_en { 
    font-family: "Swis721 BlkEx BT"; font-size: 92px; font-style: normal; font-weight: 400; line-height: 80%; letter-spacing: -5.5px; color: #FFF; 
}
/*
.title_xxxlarge_en { 
    font-family: "obviously-variable"; font-size: 116px; font-style: normal; font-weight: 800; line-height: 80%; letter-spacing: -5.5px; color: #FFF; 
}*/

.article_xlarge { 
     font-size: 35px; font-style: normal; font-weight: 600; line-height: 160%; letter-spacing: -2px; color: #FFF; 
}


.article_large { 
    color: #FFF;  font-size: 22px; font-style: normal; font-weight: 600; line-height: 150%; letter-spacing: -1px; 
}


.article_medium { 
     font-size: 20px; font-style: normal; font-weight: 600; line-height: 150%; letter-spacing: -1px; color: #FFF;
}

.article_small { color: white; font-size: 16px; font-weight: 400; line-height: 17.60px; word-wrap: break-word }

